<router-outlet></router-outlet>

<h1>Alta contacto</h1>
<form role="form">
  <div class="form-group">
    <label for="nombre">Nombre:</label>
    <input type="text" class="form-control" id="nombre" />
  </div>
  <div class="form-group">
    <label for="email">Email:</label>
    <input type="email" class="form-control" id="email" />
  </div>
  <div class="form-group">
    <label for="mensaje">Mensaje:</label>
    <input type="text" class="form-control" id="mensaje" />
  </div>
  <div class="form-group">
    <label for="respuesta">2 + 3: ?</label>
    <input type="number" class="form-control" id="respuesta"/>
  </div>
  <button (click)="guardarContacto()">Enviar</button>
</form>

<app-lista-contactos [datos]="contactos"></app-lista-contactos>
